@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.animate-twinkle {
  animation: twinkle 2s ease-in-out infinite;
}
@keyframes floatStar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-star {
  animation: floatStar 4s ease-in-out infinite;
}
